* {
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.color-primary {
  color: #fd6e0a;
}

header {
  background: #fff8f3;
  padding: 50px 0 0 0;
  background-image: url(../images/header_bg.png), url(../images/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right, center left 20px;
}

#nav-title {
  font-size: 45px;
  font-weight: 800;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 225px 50px 225px;
}

nav > ul {
  display: flex;
  list-style: none;
  align-items: center;
}
nav li {
  margin-left: 50px;
  color: #474747;
  font-size: 20px;
  font-weight: 400;
}

nav a {
  text-decoration: none;
}

.btn-primary {
  font-size: 20px;
  font-weight: 700;
  padding: 18px 35px;
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  color: white;
}

/* --------------------- Banner Styles ------------------------------ */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#banner-greetings {
  color: #474747;
  font-size: 45px;
  font-weight: 600;
}

#banner-title {
  color: #181818;
  font-size: 85px;
  font-weight: 700;
  margin-bottom: 20px;
}

.banner-text {
  margin: 0 225px;
}

.banner-text > p {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
  max-width: 600px;
}

.btn-contact {
  margin-left: 30px;
}

.banner img {
  margin-right: 40px;
}

/* -------------------------- Main Section Styles ---------------------------------- */
main {
  max-width: 1240px;
  margin: 0 auto;
}

section {
  margin-bottom: 130px;
}

/* -------------------------- About Section Styles ---------------------------------- */

.about {
  margin: 130px 0px;
  border-radius: 10px;
  background: #fff8f3;
  padding: 156px 210px;
  text-align: center;
}

.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin: 30px auto;
  max-width: 827px;
}

.about-info-container {
  display: flex;
  justify-content: space-around;
  color: #757575;
  font-size: 20px;
  font-weight: 400;
}

/* What I Do Sections Styles */
.skills-container {
  display: flex;
  gap: 24px;
}

.skills {
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  margin-top: 50px;
}

.skills-title {
  margin: 20px auto;
}

.skills-descriptionn {
}
